<div class="container">
  <h1>Write a review about the restaurant:</h1>
  <div class="review-form">
    <%= simple_form_for([@restaurant, @review]) do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
  <span class="buttons" id="back"><%= link_to("Back to list", restaurants_path) %></span>
</div>
